
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
a{
  text-decoration: none;
}
/* */
@font-face {
    font-family: "socialico";
    src: url('font/Socialico.ttf');
}
@font-face {
    font-family: "socialico";
    src: url('font/Socialico.otf');
}
/* */
body {
  line-height: 1;
  margin: 0 auto;
}
.wrap{
    width: 940px;
    margin: 0 auto;

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header{
  height: 145px;
  line-height: 24px;
}
header h1{
  font-size: 20px;
  font-family: 'Proxima Nova','Helvetica Neue', 'helvetica', 'arial', sans-serif;
  padding-top: 50px;
  color:#303030;
}
header h2{
  color:#949494;
  font-size: 14px;
    font-family: 'Proxima Nova','Helvetica Neue', 'helvetica', 'arial', sans-serif;
}
#works{
  margin-top: 30px;
  margin-bottom: 30px;
}

#hello{
  background: url("Séries/TWD/bg.jpg");
  background-size: cover;
  height: 600px;
  line-height: 40px;
  text-align: left;
  line-height:48px;
}
#hello h1{
  font-size: 36px;
  color: white;
  font-family: 'Helvetica Neue', 'helvetica', 'arial', sans-serif;
  font-weight: 600;
  padding-top: 90px;
  text-shadow:0px 1px 2px #3c1a27;

}
#hello h2{
  color:white;
  font-size: 18px;
  font-family: 'Helvetica Neue', 'helvetica', 'arial', sans-serif;

  opacity: 0.6;
    text-shadow:0px 1px 2px #3c1a27;

}

#scroll{
  width: 100px;
  position: fixed;
  bottom: 18px;
  float: left;
  margin-left: 820px;
  
  
}
#scroll a{
float: right;
font-family: 'Helvetica Neue', 'helvetica', 'arial', sans-serif;
font-size: 14px;
color: #c0ecfc;
text-decoration: none;


}
#skills-title{
  background: white;
  font-family: 'Proxima Nova', 'Nelvetica Neue', 'Helvetica', 'arial', sans-serif;
  font-size: 25px;
  padding-bottom: 200px;
  padding-top: 40px;
  text-align: left;
  margin-left: 70px;
}

#skills-description{
  background: white;
  font-family: 'Proxima Nova', 'Nelvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  padding-bottom: 200px;
  padding-top: 40px; 
  text-align: left;
  margin-left: 50px;  
  }

#skills ul{
  float: left;
  margin-right: 90px;
  margin-left: 90px;
}
.skills-title{
  color: #303030;
font-family: 'Proxima Nova','Helvetica Neue', 'helvetica', 'arial', sans-serif;
font-size: 40px;

margin-top: 10px;
}
.wrap-skills{
  margin: 0 auto;
  width: 940px;
}
.skills-desc{
  color:#000000;
font-family: 'Proxima Nova','Helvetica Neue', 'helvetica', 'arial', sans-serif;
font-size: 14px;
margin-top: 10px;
}
.scroll a:hover{
  opacity: 1;
}
.topwrap{
  width: 350px;
  float: right
}
#footer{
  background: #303030;
  font-family: 'Proxima Nova','Helvetica Neue', 'helvetica', 'arial', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 200px;
}
#footer ul{
  width: 220px;
  float: left;
  background: #303030;
  margin-right: 50px;

}
.footer-title{
  color:white;
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-content{
  color:#9e9e9e;
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
}
.clear{
  clear: both;
}
